.iso-background {
    background-color: yellow;
    background: url(../img/iso_square.svg);
    
    background-size: contain;
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: right;
 
}       
 a {
    color: black;
    border-bottom-width: 0.25em;
    border-bottom-style: solid;
    border-bottom-color:
    rgba(255, 204, 153, 0.40); 
}
    
    
  ul {
    list-style-type: none; 
}