
html {
  line-height: 1.15;

}

body {
  margin: 0;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.5;
  
}

.reduce-type {
  font-size: 1rem;
}


.border {
  border: 1rem solid #1E0FF5 !important; }

.lead {
  font-weight: 600;
}

.bg-dark {
  background-color: #000000 !important; }

 a {      
    border-bottom-width: 0.25em;
    border-bottom-style: solid;
    border-bottom-color: rgba(255, 204, 153);     
    background-color: transparent; }
  a:hover {
    
    border-bottom-style: solid;
    border-bottom-color: rgba(255, 204, 153);     
    background-color: transparent; }


  ul {
    list-style-type: none; 
}

.text-light {
  color: #f8f9fa !important; }

a.text-light:hover, a.text-light:focus {
  color: #cbd3da !important; }



/* body  {

 background-image: linear-gradient(to top, #051937, #005169, #408d8c, #98c8a5, #ffffca);
  
} */

